@use './../../scss/' as *;

.page-title__body {
    background: rgba(73, 7, 143, 0.759);
    position: relative;
    padding: 52px 94px 61px;
    border-radius: 20px;

    .block-text {
        text-align: left;
       
    }

    @include mobile {
        padding: 52px 25px 61px;
        text-align: center;
    }
    
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        opacity: 0.1;
        border-radius: 20px;
        mix-blend-mode: screen;
    }
    &.ab::before {
        background-image: url('./../../assets/images/background/bg-inner-page-01.png');
    }
    &.rm::before {
        background-image: url('./../../assets/images/background/bg-inner-page-02.png');
    }
    
    img {
        position: absolute;
        bottom: 60px;
        right: 40px;

        @include tablet {
            position: relative;
            right: auto !important;
            width: 100%;
        }

        
    }

    &.rm {
        img {
            right: 39px;
            &.s2 {
                right: 129px;
            }
        }
    }
}